.jobs-bg-con {
  background-color: #121212;
  padding: 10px;
  display: flex;
}
.profile-jobs-filtering-left-con {
  padding: 20px;
}
.checkbox {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  accent-color: #cbd5e1;
}
.radio-button {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  accent-color: #121212;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.label-text {
  color: #ffffff;
  font-family: itallic;
  font-size: 22px;
  font-weight: 100;
}
.filter-group-heading {
  color: #ffffff;
  font-family: itallic;
  font-size: 26px;
  font-weight: 100;
}
.jobs-display-right-con {
  padding: 20px;
}
.input {
  border: #cbd5e1;
  border-style: solid;
  border-radius: 2px;
  width: 300px;
  color: #cbd5e1;
  font-size: 18px;
  padding: 5px;
  border-width: 0.5px;
  margin-left: 8px;
}
.search {
  background-color: #121212;
  border-style: none;
  width: 90%;
  height: 25px;
  outline: none;
  color: #cbd5e1;
  font-size: 18px;
}
