.header-con {
  background-color: #202020;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 14vh;
}
.website-logo-header {
  height: 8vh;
  width: 16%;
}
.home-jobs-con {
  display: flex;
}
.header-nav-text {
  color: #ffffff;
  font-family: itallic;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  font-size: 20px;
}
.logout-button {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 18px;
  font-family: itallic;
  font-weight: bold;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
