.job-item-con {
  width: 90%;
  background-color: #202020;
  border-radius: 20px;
  list-style-type: none;
  padding: 20px;
}
.job-item-details-con {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.company-logo {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.employment-heading {
  color: #ffffff;
  font-family: itallic;
  font-size: 26px;
  font-weight: bold;
}
.flex-con {
  display: flex;
  align-items: center;
  line-height: 5px;
  width: 100%;
}
.star-icon {
  color: #fbbf24;
  height: 20px;
  width: 20px;
}
.location-internship-icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
}
.location-internship-text {
  color: #ffffff;
  font-family: Itallic;
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
.location-internship-con {
  width: 30%;
  display: flex;
}
.package {
  color: #ffffff;
  font-family: itallic;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
.location-package-con {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.line {
  color: #7e858e;
}
.job-description-text {
  color: #ffffff;
  font-family: itallic;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
}
.skill-icon-name-con {
  display: flex;
  width: 25%;
  margin: 20px;
}
.skills-con {
  display: flex;
  flex-wrap: wrap;
}
.life-at-company-con {
  display: flex;
  justify-content: space-around;
}
.image {
  width: 400px;
  height: 300px;
}
.life-text {
  color: #ffffff;
  font-family: itallic;
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  line-height: 30px;
}
.similar-jobs-heading {
  color: #ffffff;
  font-family: itallic;
  font-size: 30px;
  font-weight: 100;
  text-align: left;
}
.all-similar-jobs-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.location-internship {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.failure-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 90vh;
  flex-direction: column;
}
.failure-heading {
  color: #ffffff;
}
.failure-text {
  color: #ffffff;
  font-size: 12px;
}
.visit-con {
  display: flex;
  justify-content: space-between;
}
